{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
  <h1>Welcome to Tic Tac Toe Game</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label for="room">Choose Play Room</label>
      <input id="room" type="text" name="play_room" required />
    </div>
    <div class='form-control'>
      <label for="character">Choose Your Character</label>
      <select for="character" name="character">
        <option value="X">X</option>
        <option value="O">O</option>
      </select>
    </div>
    <input type="submit" class="button" value="Start Game" />
  </form> 
  
  <form>
    <script type='text/javascript' src='static/js/tictactoegame.js'></script>
    <input type ="button" id=mybtn onclick = "getTopScorerList()" class=button1 value = "Top Scorer">
    <p id="btn"></p>
  </form>

</div>
{% endblock content %}
